/* content */
#content-container {
  min-width: 800px;
  min-height: 672px;
  padding: 2.5rem;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0px 16px 90px 0px rgba(19, 7, 52, 0.08);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 28px;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 28px;
}

.content > input {
  display: none;
}

/* header */

.content > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-header > div:nth-child(1) {
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary);
}

.text-header > div:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-color);
}

.text-header > div:nth-child(3) {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-secondary);
}

.content > header label {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 60px;
  padding: 0.75rem 0.9375rem;
  background-color: var(--primary);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  border: 0;
  cursor: pointer;
}

/* sorting */

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting > span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.option-sort-wrapper {
  position: relative;
}

.option-sort-wrapper > label > div {
  display: flex;
  align-items: center;
  padding: 0.625rem 0.875rem;
  color: var(--primary);
  background-color: #fff;
  border: 1px solid var(--primary);
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
}

.option-sort-wrapper > label > div > .icon-dropdown {
  background-color: var(--primary);
}

.sorting > input {
  display: none;
}

.option-sort {
  display: none;
}

.option-sort-wrapper > label > div > .icon-dropdown {
  transition: transform 0.3s ease;
}

.sorting > input:checked ~ .option-sort-wrapper > label > div {
  color: var(--text-secondary);
  border-color: var(--icon-second-color);
}

.sorting > input:checked ~ .option-sort-wrapper > label > div > .icon-dropdown {
  transform: rotate(180deg);
}

.sorting > input:checked ~ .option-sort-wrapper > label > div > .icon-dropdown {
  background-color: var(--icon-second-color);
}

.sorting > input:checked ~ .option-sort-wrapper > .option-sort {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid var(--icon-second-color);
  border-radius: 8px;
  padding: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  background-color: #fff;
  top: 62px;
  width: 200px;
  right: 0;
}

.option-sort > label {
  display: flex;
  justify-content: space-between;
}

.option-sort > label > input {
  accent-color: var(--primary);
  width: 20px;
}

/* To do list */

.items-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* add item */

.item-add {
  display: none;
}

.item-add > div:first-child {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  border: 1px solid var(--icon-second-color);
}

.item-add > form:nth-child(2) {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.item-add > form:nth-child(2) {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.item-add > form > div input {
  border: none;
  background-color: var(--bg-color);
}

.item-add > form > div input::placeholder {
  color: #9e9e9e;
}

.item-add > form > div input:focus {
  outline: none;
}

.input-description,
.input-date {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-description input,
.input-date input {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
}

.input-name input {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--text-color);
}

.content > input:checked ~ .items-list > .item-add {
  display: flex;
  gap: 14px;
  width: calc(100% + 80px);
  margin-left: -40px;
  padding: 0.5rem 2.5rem;
  background-color: var(--bg-color);
}

/* list item */

.item-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-wrap > input {
  display: none;
}

.item-title {
  display: flex;
  justify-content: space-between;
}

.item-title > label > .icon-dropdown {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.item-wrap > input:checked ~ .item-title > label > .icon-dropdown {
  transform: rotate(180deg);
  background-color: var(--icon-second-color);
}

.checkbox-item {
  display: flex;
  gap: 14px;
}

.checkbox-item > label > input {
  display: none;
}

.checkbox-item label > div {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  border: 1px solid var(--icon-second-color);
}

.checkbox-item input:checked + div {
  background-color: var(--primary);
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-item > div > div:first-child {
  display: flex;
  align-items: center;
  color: var(--text-color);
  position: relative;
}

.checkbox-item > div > div > label:first-child {
  font-weight: 500;
  font-size: 1.125rem;
  margin-right: 1rem;
}

.checkbox-item > div > div > span {
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--primary);
  padding: 0.5rem 0.75rem;
  background-color: var(--secondary);
  border-radius: 50px;
}

.checkbox-item > div > div > input {
  display: none;
}

.checkbox-item > div > div > label:nth-child(4) {
  display: flex;
  align-items: center;
}

/* rename-edit item */

.action-btn {
  display: none;
  position: absolute;
  right: -165px;
  top: 40px;
}

.checkbox-item > div > div > input:checked ~ .action-btn {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  gap: 12px;
  z-index: 2;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--icon-second-color);
}

.action-btn > div {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.checkbox-item > div > div:nth-child(2) {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.checkbox-item > div > div > label > .icon-kebab {
  display: none;
  cursor: pointer;
}

.item-wrap
  > input:checked
  ~ .item-title
  > .checkbox-item
  > div
  > div
  > label
  > .icon-kebab {
  display: inline-block;
}

/* subtask */

.item-subtask {
  display: none;
}

.item-wrap > input:checked ~ .item-subtask {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1rem;
  background-color: var(--bg-color);
  border-radius: 8px;
}

.header-subtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-subtask > span {
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-color);
}

.header-subtask > button {
  padding: 0.375rem 0.625rem;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid var(--icon-second-color);
  border-radius: 50px;
  color: var(--primary);
  background-color: #fff;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
}

.list-subtask {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-item-subtask > label > span {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
}

.subtask > .icon-trash {
  width: 18px;
  cursor: pointer;
}

.checkbox-item-subtask > label {
  display: flex;
  gap: 14px;
  align-items: center;
}

.checkbox-item-subtask > input {
  display: none;
}

.checkbox-item-subtask > label > div {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  border: 1px solid var(--icon-second-color);
}

.checkbox-item-subtask > input:checked ~ label > div {
  background-color: var(--primary);
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-item-subtask > input:checked ~ label > span {
  text-decoration: line-through;
}

@media (max-width: 700px) {
  #content-container {
    min-width: auto;
    min-height: 600px;
  }

  .icon-add {
    width: 20px;
    height: 20px;
  }

  .icon-dropdown {
    height: 20px;
    width: 20px;
  }

  .action-btn {
    right: 0px;
    top: 50px;
  }

  .checkbox-item > div > div > label:first-child {
    display: inline-block;
    max-width: 10rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0.5rem;
  }

  .checkbox-item > div > div > span {
    display: inline-block;
    text-align: center;
    max-width: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .item-wrap
    > input:checked
    ~ .item-title
    > .checkbox-item
    > div
    > div
    > label:first-child {
    white-space: wrap;
    margin-right: 0.5rem;
  }

  .item-wrap > input:checked ~ .item-title > .checkbox-item > div > div > span {
    white-space: wrap;
  }
}

@media (max-width: 440px) {
  .content > header > label > span {
    display: none;
  }
}
