/* content */
/* header */

/* sorting */
/* .sorting > input:checked ~ .option-sort-wrapper > label > div {
  color: var(--text-secondary);
  border-color: var(--icon-second-color);
} */

/* .sorting > input:checked ~ .option-sort-wrapper > label > div > .icon-dropdown {
  transform: rotate(180deg);
} */

/* .sorting > input:checked ~ .option-sort-wrapper > label > div > .icon-dropdown {
  background-color: var(--icon-second-color);
} */

/* To do list */
/* add item */
/* list item */

/* .item-wrap > input:checked ~ .item-title > label > .icon-dropdown {
  transform: rotate(180deg);
  background-color: var(--icon-second-color);
} */

/* .checkbox-item input:checked + div {
  background-color: var(--primary);
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: center;
} */
/* rename-edit item */
/* subtask */
/* .checkbox-item-subtask > input:checked ~ label > div {
  background-color: var(--primary);
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: center;
} */

/* .checkbox-item-subtask > input:checked ~ label > span {
  text-decoration: line-through;
} */

/* @media (max-width: 700px) {
  .icon-add {
    width: 20px;
    height: 20px;
  }

  .icon-dropdown {
    height: 20px;
    width: 20px;
  }

  .action-btn {
    right: 0px;
    top: 50px;
  }

  .checkbox-item > div > div > label:first-child {
    display: inline-block;
    max-width: 10rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0.5rem;
  }

  .checkbox-item > div > div > span {
    display: inline-block;
    text-align: center;
    max-width: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .item-wrap > input:checked ~ .item-title > .checkbox-item > div > div > label:first-child {
    white-space: wrap;
    margin-right: 0.5rem;
  }

  .item-wrap > input:checked ~ .item-title > .checkbox-item > div > div > span {
    white-space: wrap;
  }
}

@media (max-width: 440px) {
  .content > header > label > span {
    display: none;
  }
} */
