.custom-icon {
  width: 24px;
  height: 24px;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  display: inline-block;
}

.custom-icon2 {
  width: 24px;
  height: 24px;
  background-size: contain;
  display: inline-block;
}

.icon-dropdown {
  background-color: var(--text-color);
  mask-image: url("../icon/icon-dropdown.svg");
}

.icon-notif {
  background-color: #9e9e9e;
  mask-image: url("../icon/icon-notif.svg");
}

.icon-add {
  background-color: #ffffff;
  mask-image: url("../icon/icon-add.svg");
}

.icon-add-filled {
  background: url("../icon/icon-add-filled.svg") no-repeat center center;
}

.icon-trash {
  background-color: var(--icon-second-color);
  mask-image: url("../icon/icon-trash.svg");
}

.icon-kebab {
  background-color: var(--icon-second-color);
  mask-image: url("../icon/icon-kebab.svg");
}

.icon-edit {
  background-color: var(--text-color);
  mask-image: url("../icon/icon-edit.svg");
}

.icon-delete {
  background-color: var(--text-color);
  mask-image: url("../icon/icon-delete.svg");
}

.icon-description {
  background-color: var(--text-color);
  mask-image: url("../icon/icon-description.svg");
}

.icon-calender {
  background-color: var(--text-color);
  mask-image: url("../icon/icon-calender.svg");
}

.icon-hamburger-menu {
  background-color: var(--primary);
  mask-image: url("../icon/icon-hamburger-menu.svg");
}

.icon-close {
  background-color: var(--primary);
  mask-image: url("../icon/icon-close.svg");
}
