/* content footer */
/* #check-complete-task:checked ~ label > .icon-dropdown {
  transform: rotate(-180deg);
  background-color: var(--icon-second-color);
} */

/* .checkbox-item-complete > input:checked ~ label > div {
  background-color: var(--primary);
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-item-complete > input:checked ~ label > span {
  text-decoration: line-through;
} */
