:root {
  --primary: #f0a8d0;
  --secondary: #ffebd4;
  --text-color: #293038;
  --text-secondary: #7a7f83;
  --bg-color: #f5f5f5;
  --icon-second-color: #ccced2;
}

* {
  font-family: "Poppins", sans-serif;
}
