* {
  font-family: "Poppins", sans-serif;
}

img {
  vertical-align: middle;
}

.fa {
  line-height: 0px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

/* navbar */
#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: #f5f5f5;
}

nav {
  display: flex;
  padding: 40px 80px;
  justify-content: space-between;
  align-items: center;
}

nav > div:nth-child(2) {
  display: flex;
  gap: 24px;
  align-items: center;
}

nav > div:nth-child(2) > div {
  display: flex;
  gap: 14px;
  align-items: center;
}

.photo-profile-wrap {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 6px;
  border: 1px solid #ccced2;
}

.photo-profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: url("../img/photo-profile.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav > img,
nav > div:nth-child(2) > img,
nav > div:nth-child(2) > div > * {
  cursor: pointer;
}

nav > div:nth-child(2) svg {
  transition: transform 0.5s ease;
}

nav > div:nth-child(2) input {
  display: none;
}

nav > div:nth-child(2) input:checked + svg {
  transform: rotate(180deg);
}

nav > div:nth-child(2) input:checked + svg > path {
  fill: #ccced2;
}

/* main */
main {
  margin-top: 150px;
  justify-items: center;
}

/* content */
#content-container {
  width: 800px;
  min-height: 672px;
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 16px 90px 0px rgba(19, 7, 52, 0.08);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* content-header */
.content > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-header > div:nth-child(1) {
  font-size: 16px;
  font-weight: 500;
  color: #ff5f26;
}

.text-header > div:nth-child(2) {
  font-size: 24px;
  font-weight: 500;
  color: #293038;
}

.text-header > div:nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  color: #7a7f83;
}

.content > header button {
  display: flex;
  gap: 8px;
  height: 48px;
  border-radius: 60px;
  padding: 12px 15px;
  background-color: #ff5f26;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: 0;
}

/* content-sorting */
.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting > div {
  font-size: 16px;
  font-weight: 500;
  color: #7a7f83;
}

.option-sort-wrapper {
  position: relative;
}

.option-sort-wrapper > label > div {
  padding: 10px 14px;
  color: #ff5f26;
  border: 1px solid #ff5f26;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.sorting > input {
  display: none;
}

.option-sort {
  display: none;
}

.option-sort-wrapper > label > div > svg {
  transition: transform 0.3s ease;
}

.sorting > input:checked ~ .option-sort-wrapper > label > div {
  color: #7a7f83;
  border-color: #ccced2;
}

.sorting > input:checked ~ .option-sort-wrapper > label > div > svg {
  transform: rotate(180deg);
}

.sorting > input:checked ~ .option-sort-wrapper > label > div > svg > path {
  fill: #ccced2;
}

.sorting > input:checked ~ .option-sort-wrapper > .option-sort {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #ccced2;
  border-radius: 8px;
  padding: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  top: 62px;
  width: 200px;
  right: 0;
}

.option-sort > label {
  display: flex;
  justify-content: space-between;
}

.option-sort > label > input {
  accent-color: #ff5f26;
  width: 20px;
}

/* content-items-list */
.items-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-wrap {
  display: flex;
  justify-content: space-between;
}

.checkbox-item {
  display: flex;
  gap: 14px;
}

.checkbox-item > label > input {
  display: none;
}

.checkbox-item label > div {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  border: 1px solid #ccced2;
}

.checkbox-item input:checked + div {
  background-color: #ff5f26;
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-item > div > div:first-child {
  display: flex;
  gap: 16px;
}

.checkbox-item > div > div > label {
  font-weight: 500;
  font-size: 18px;
}

.checkbox-item > div > div > span {
  font-weight: 500;
  font-size: 12px;
  color: #ff5f26;
  padding: 8px 12px;
  background-color: #ffebd3;
  border-radius: 50px;
}

.checkbox-item > div > div:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  color: #7a7f83;
}

/* content-footer */
#completed-task {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

hr {
  flex-shrink: 0;
  width: 100%;
}

#completed-task > label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

#completed-task > label > svg {
  transition: transform 0.3s ease;
}

#completed-task > label > span {
  font-weight: 500;
  font-size: 18px;
  color: #7a7f83;
}

#completed-task > input {
  display: none;
}

.list-completed-task {
  display: none;
}

#check-complete-task:checked ~ label > svg {
  transform: rotate(-90deg);
}

#check-complete-task:checked ~ label > svg > path {
  fill: #ccced2;
}

#check-complete-task:checked ~ .list-completed-task {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-completed-task > .item-wrap > .checkbox-item > div label {
  text-decoration: line-through;
}
